@font-face {
	font-family:'OpenSans-Bold';
	src:url(../fonts/OpenSans-Bold.ttf);
}
*{
	margin: 0;
	padding: 0; 
}
body{
	font-family: "Arial";
	display: flex;
	flex-direction: column;
	min-height: 100vh;	
}
header{
	width: 100%;
	height: 735px;
}
.bg{
	position: relative;
	width: 100%;
	height: 100%;
}
.img-set{
	display: flex;
	overflow: hidden;
}
.head-wrap{
	position: absolute;
	display: flex;
	width: 1114px;
	left: 50%;
	transform: translateX(-50%);
	justify-content: space-between;
	align-items: center;
}
.top-info{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: rgba(243, 243, 243, 0.8);
	font-weight: bold;
	margin:15px 0;
}
.top-info-wrap{
	display: flex;
}
.adress, .contacts{
	position: relative;
}
.top-style{
	margin-left: 20px;
}
.adress::before{
	padding-right:  5px;
	font-family: "FontAwesome";
	font-weight: 400;
	content: "\f041";
}
.contacts::before{
	padding-right:  5px;
	font-family: "FontAwesome";
	font-weight: 400;
	content: "\f095";
}
.icon{
	font-size: 27px;
	color: rgba(243, 243, 243, 0.8);
}
.social-networks{
	margin-left: 65px;
}
.social-networks .icon:last-child{
	margin-left: 25px;
}
.top-menu{
	width: 760px;	
	list-style-type: none;
	background-color: rgb(251, 211, 65);
	justify-content: space-around;
	display: flex;
	border-radius: 10px;
}
.top-menu li{

}
li::first-letter{
	text-transform:uppercase;
}
.top-menu a{
	display: block;
	padding: 17px 22px 10px;
	text-decoration: none;
	color: black;
	font-size: 18px;
	font-family: "Arial";
	color: rgb(0, 0, 0);
	font-weight: bold;
}
.sub-menu{
	position: relative;
}
.sub-menu:before{
	font-size: 25px;
	position:absolute;
	right:0;
	font-family: "FontAwesome";
	font-weight: 400;
	content: "\f107";
}

.top-menu li ul{
	visibility:hidden ;
	position: absolute;
	list-style-type: none;
	background-color: rgb(51, 151, 226);
	opacity: 0.8;
	box-shadow: -1.236px 3.804px 14.7px 0.3px rgba(0, 0, 0, 0.34);
}
.drop{
	display: none;
}
/*
.top-menu li > ul li ul{
	right: -267px;
	top:0;
}
*/
.top-menu li:hover > ul{
	visibility: visible;
}
.top-menu li ul a{
	font-size: 14px;
	font-family: "Arial";
	color: rgb(255, 255, 255);
	font-weight: unset;
}
.area{
	position: absolute;
	display: flex;
	align-items: center;
	width: 1350px;
	background-image: -webkit-linear-gradient( -6deg, rgba(0, 76, 131, 0.4) 0%, rgba(25,44,74,0.32) 68%, rgba(34,51,77,0) 100%);
	background-image: -moz-linear-gradient( -6deg, rgba(0, 76, 131, 0.4) 0%, rgba(25,44,74,0.32) 68%, rgba(34,51,77,0) 100%);
	background-image: -webkit-linear-gradient( -6deg, rgba(0, 76, 131, 0.4) 0%, rgba(25,44,74,0.32) 68%, rgba(34,51,77,0) 100%);
	background-image: -ms-linear-gradient( -6deg, rgba(0, 76, 131, 0.4) 0%, rgba(25,44,74,0.32) 68%, rgba(34,51,77,0) 100%);
	left: -1px;
	top: 328px;
	/*width: 1352px;*/
	height: 228px;
}
.area-info{
	margin-left: 375px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 875px;
	height: 100%;
	padding-left: 15px;

}
.area-text{
	font-size: 30px;
	font-family: "Arial";
	color: rgb(255, 255, 255);
	margin-bottom: 40px;
	font-weight: bold;
}
.btn{
	text-decoration: none;
	border-radius: 10px;
	background-color: rgb(251, 211, 65);
	width: 254px;
	padding:17px 14px;
	font-size: 18px;
	font-family: "Arial";
	color: rgb(0, 0, 0);
	text-align: center;
}
.wrapper{
	flex: 1 0 auto;
}





@media screen and (max-width: 1368px) {
	.area{
		width: 1100px;
	}
	.area-info{
		margin-left: 200px;
	}
}

@media screen and (max-width: 1200px) {
	.area{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.area-info{
		margin:0;
		padding: 0;
	}
	
	.area-info .btn{
		margin: 0 auto;
	}
	.area-info{
		text-align: center;
	}
}

@media screen and (max-width: 1140px) {
	.head-wrap{
		width: 900px
	}
}
#logo1{
	display: none;
}

@media screen and (max-width: 992px) {
	.head-wrap{
		padding: 0 20px;
		width: 100%;
		justify-content: center;
		box-sizing: border-box;
	}
	.sub-menu:before{
		display: none;
	}
	.top-menu li ul{
		display: none;
	}
	.top-info{
		align-items: flex-end;
		justify-content: space-between;
	}
	#logo{
		display: none;
	}
	#logo1{
		display: block;
	}
	#logo1 img{
		width: 85px;
	}
	.top-info-wrap{
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.top-style{
		margin-left: 0;
	}
	.social-networks{
		display: flex;
		flex-direction: column;
	}
	.social-networks .icon:last-child{
		margin-left: 0;
	}
	.area-info{
		padding:0 10px;
	}
	.body_slides li{
		animation:none;
		opacity:1;
	}
	.body_slides li:nth-child(2), .body_slides li:nth-child(3), .body_slides li:nth-child(4), .body_slides li:nth-child(5){
		display: none;
	}
	.body_slides li:nth-child(1){
		animation:none;
		opacity:1;
		background-image: url(../img/banner3.png);
	}
}


@media screen and (max-width: 900px) {
	
}

@media screen and (max-width: 800px) {
	.top-menu{
		width: 693px;	
	}
	.top-menu a{
		font-size: 16px;
	}

}
@media screen and (max-width: 720px) {
	.head-wrap{
		padding: 0;
	}
	.top-info{
		padding: 0 20px;
	}
	.top-wrap{
		width: 100%;
	}
	.top-menu{
		border-radius: 0;
		/*width: 645px;	*/
		width: 100%;
	}
	.top-menu a{
		font-size: 16px;
	}
	.top-info-wrap{
		font-size: 12px;
	}
	.social-networks{
		flex-direction: row;
	}
	.social-networks .icon:last-child{
		margin-left: 15px;
	}
	.icon{
		font-size: 25px;
	}
	#logo1 img {
		width: 75px;
	}
}
@media screen and (max-width: 645px) {
	.top-info{
		padding: 0;
		justify-content: space-around;
	}
	.top-menu a{
		font-size: 14px;
		padding: 17px 12px 10px;
	}

}

@media screen and (max-width: 480px) {
	.top-info{
		display: none;
	}
	.top-menu{
		flex-direction: column;
	}
	.top-menu li{
		margin-left: 30px;
	}
	.top-menu li a{
		position: relative;
	}
	.top-menu li a:after{
		font-size: 25px;
		position:absolute;
		left: -25px;
		top: 50%;
		transform: translateY(-50%);
		font-family: "FontAwesome";
		font-weight: 400;
	}
	#tur:after{
		content: '\f072';
	}
	#ctr:after{
		content: '\f279';
	}
	#usl:after{
		content: '\f2b5';
	}
	#com:after{
		content: '\f05a';
	}
	#cont:after{
		content: '\f2c2';
	}
	.drop{
		display: flex;
		width: 100%;
		height: 60px;
		background-color: rgb(251, 211, 65);
	}
	.drop-btn{
		height: 60px;
		width: 60px;
		background-color: rgb(251, 211, 65);
		position: relative;
	}
	.drop-btn i{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 40px;
		color: black;
	}
	.drop-wrap{
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.drop-logo a {
		font-family: 'OpenSans-Bold'; 
		text-decoration: none;
		color:black;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: bold;
	}
	.drop-networks i{
		color: black;
		font-size: 30px;
	}
	.drop-networks i:last-child{
		margin-left: 15px;
	}
	.top-menu{
		display: none;
	}
	.show{
		display: block;
	}
	.body_slides li:nth-child(1){
		animation:none;
		opacity:1;
		background-image: url(../img/banner5.png);
	}
	.area-text{
		font-size: 24px;

	}

}