html {
	min-height: 100%
}
body {
	min-height: 100%;
	margin:0;
	padding:0;
	font: 15px Tahoma;
	color:#555;
}

.body_slides{
	list-style:none;
	margin:0;
	padding:0;
	z-index:-2; 
	background:#fff;
}
.body_slides,
.body_slides:after{
	position: absolute;
	width:100%;
	height:735px;
	top:0px;
	left:0px;
}
@-webkit-keyframes anim_slides {
	0% {opacity:0;}
	6% {opacity:1;}
	24% {opacity:1;}
	30% {opacity:0;}
	100% {opacity:0;}
}
@-moz-keyframes anim_slides {
	0% {opacity:0;}
	6% {opacity:1;}
	24% {opacity:1;}
	30% {opacity:0;}
	100% {opacity:0;}
}
.body_slides li{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background-size:cover;
	background-repeat:none;
	background-position: top;
	opacity:0;
	-webkit-animation: anim_slides 30s linear infinite 0s;
	-moz-animation: anim_slides 30s linear infinite 0s;
	-o-animation: anim_slides 30s linear infinite 0s;
	-ms-animation: anim_slides 30s linear infinite 0s;
	animation: anim_slides 30s linear infinite 0s;
}

.body_slides li:nth-child(1){
	background-image: url(../img/banner1.png);
}
.body_slides li:nth-child(2){
	-webkit-animation-delay: 6.0s;
	-moz-animation-delay: 6.0s;
	background-image: url(../img/banner2.png);
}
.body_slides li:nth-child(3){
	-webkit-animation-delay: 12.0s;
	-moz-animation-delay: 12.0s;
	background-image: url(../img/banner3.png);
}
.body_slides li:nth-child(4){
	-webkit-animation-delay: 18.0s;
	-moz-animation-delay: 18.0s;
	background-image: url(../img/banner4.png);
}
.body_slides li:nth-child(5){
	-webkit-animation-delay: 24.0s;
	-moz-animation-delay: 24.0s;
	background-image: url(../img/banner5.png);
}